.button {
  text-align: center;
    border-radius: 10px;
    width: 100%;
    max-width: 150px;
    padding: 0.7rem;
    transition: color 0.15s ease;
    border-style: solid;
    border-color: #ffffff;
    backdrop-filter: blur(10px);
    white-space: nowrap;
  }
  
  .button:hover,
  .button:focus {
    color: #32cd32; 
    border-color: #32cd32;
  }

