.button {
    text-align: center;
    border-radius: 10px;
    width: 100%;
    max-width: 150px;
    padding: 0.7rem;
    transition: color 0.15s ease;
    background-color: rgba(103, 103, 103, 0.3);
    box-shadow: 0 4px rgba(103, 103, 103, 0.2);
  }
  
  .button:hover,
  .button:focus {
    color: #b80000; 
  }
  
  .button:active {
    background-color: rgba(103, 103, 103, 0.2);
    box-shadow: 0 2px rgba(103, 103, 103, 0.1);
    transform: translateY(3px);
  }
