html,
body {
  background-color: rgb(27 106 147);
  background-image: url('/waterBackground.jpg');
  background-attachment: fixed;
  padding-bottom: 0;
  margin: 0;
  cursor: url('/cursor.png'), auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url('/cursor.png'), pointer;
}

p {
  font-size: 1.2rem;
}

@font-face {
  font-family: 'homoarakhnregular';
  src: url('/homoarak-webfont.woff2') format('woff2'),
       url('/homoarak-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'monument_extendedultrabold';
  src: url('/monumentextended-ultrabold-webfont.woff2') format('woff2'),
       url('/monumentextended-ultrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'monument_extendedregular';
  src: url('/monumentextended-regular-webfont.woff2') format('woff2'),
       url('/monumentextended-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@media screen and (min-width: 521px) {
  * {
    box-sizing: border-box;
  }
}
