.container {
  padding: 0 2rem;
}

.main {
  color: #ffffff;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.description {
  margin: 1.5rem;
  padding: 1rem;
  text-align: left;
  text-decoration: none;
  width: 100%;
  max-width: 700px;
  margin-bottom: 2.5rem;
  backdrop-filter: blur(50px);
}

.grid {
  display: grid;
  grid-template-areas:
    "image descriptionHeading"
    "descriptionText descriptionText";
  grid-template-columns: 20% 80%;
}

.image {
  grid-area: image;
  object-fit: contain;
}

.descriptionHeading {
  grid-area: descriptionHeading;
  font-style: italic;
  padding-left: 1rem;
}

.center {
  text-align: center;
}

.descriptionText {
  grid-area: descriptionText;
  border-top: 1px solid;
  margin-top: 1rem;
}

.textModifier {
  padding: 0 1rem 0rem 1rem;
}

.findMe {
  text-align: center;
  margin-top: 1rem;
  font-family: "monument_extendedregular";
  line-height: 1.5rem;
}

.comment {
  text-align: center;
  margin: 3rem;
  font-size: 0.8rem;
  font-style: italic;
}

.buttonContainer {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.helper {
  margin: 8rem;
  text-align: center;
  width: 100%;
  line-height: 1.6rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (min-width: 521px) {
  .buttonContainer {
    flex-direction: row;
  }

  .descriptionHeading {
    font-size: 2rem;
  }

  .main {
    padding: 1rem 0;
  }

  .description {
    border-radius: 20px;
  }

  .textModifier {
    line-height: 1.7rem;
  }
}

@media screen and (max-width: 520px) {
  .buttonContainer {
    flex-direction: column;
  }

  .descriptionHeading {
    font-size: 1.6rem;
  }

  .main {
    padding: 0.5rem 0;
  }

  .description {
    border-radius: 15px;
  }

  .textModifier {
    line-height: 1.6rem;
  }
}
