.card {
  margin: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease;
  width: 100%;
  border-style: solid;
  border-color: #ffffff;
  backdrop-filter: blur(10px);
}

.card:hover,
.card:focus {
  color: #32cd32;
  border-color: #32cd32;
}

.card p {
  margin: 0;
}

.card span {
  float: right;
}

.title {
  color: #ffffff;
  font-family: "monument_extendedultrabold";
  line-height: 1.15;
  text-align: center;
}

.center {
  text-align: center;
}

.tabBar {
  display: flex;
  justify-content: center;
  backdrop-filter: blur(20px);
  border-bottom: 0.5px solid;
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
}

.tab{
  color: #ffffff;
}

@media screen and (min-width: 521px) {
  .title {
    font-size: 4rem;
    margin:0;
  }

  .card {
    max-width: 450px;
  }
  .tabBar{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 2.5rem;
  }

  .helper {
    margin: 0.5rem;
  }


  .card {
    max-width: 250px;
  }
  .tabBar{
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
}
